*{
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.main-card{
  background-color: #FFF;
  max-width: 650px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text{
  width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding-left: 40px;
  font-family: Roboto, 'sans-serif';
  color: #162131
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
  font-weight: 700;
}

p{
  font-size: 1.115rem;
  max-width: 250px;
  margin-top: 20px;
  margin-bottom: 70px;
}


.btn-align a{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  border: none;
  border-radius: 5px;
  color: hsl(30, 38%, 92%);
  background-color: #709bcd;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

a:hover{
  background-color: #162131;
}

img{
  width: 325px;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

/*RESPONSIVIDADE*/

@media screen and (max-width: 415px){
  body{
    padding: 3%;
  }
  .main-card{
    width: 95%;
    height: 97%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  img{
    width: 100%;
    max-height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  
  .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    gap: 25px;
    padding-left: 40px;
  }

  h1{
    font-size: 36px;
    margin-top: 20px;
  }
  
  h2{
    font-size: 28px ;
    font-weight: 700;
  }
  
  p{
    margin-top: -15px;
    margin-bottom: 0;
    font-size: 16px;
    max-width: 250px;
    font-weight: 500;
    
  }

  .btn-align a{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:84%;
    border: none;
    border-radius: 5px;
    color: hsl(30, 38%, 92%);
    background-color: #709bcd;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  

  

}